<div class="container">
  <div class="profile" [ngStyle]="{'background-image': 'url('+user.profile?.cover_image+')'}">
    <div class="overlay"></div>

    <div class="content">
      <div class="avatar">
        <img [src]="user.profile?.profile_image" alt=""/>
      </div>
      <div class="infos">
        <div class="title">
          <span class="name">{{(user.profile?.name ? user.profile?.name : user.name)}}</span>
          <span class="username" (click)="ui.openBrowser(user.link)">@{{user.name}} <i class="icon ion-md-open"></i></span>
        </div>
        <div class="location" *ngIf="user.profile?.location"><i class="icon ion-md-pin"></i> {{user.profile?.location}}</div>
        <div class="about">{{user.profile?.about}}</div>
        <div class="counts">
          <div class="followers"><i class="icon ion-md-people"></i> {{user.followers}}</div>
          <div class="following"><i class="icon ion-md-person"></i> {{user.following}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-list" (scroll)="onScroll($event)">
    <app-post *ngFor="let post of posts" [post]="post" [audio]="audio"></app-post>

    <div class="loading" *ngIf="!posts.length || loading"></div>
  </div>
</div>