$primary-color: #ffffff;
$secondary-color: #F49B0B;
// $secondary-color: #ff8100;
$danger-color: #f96f69;
$success-color: #f96f69;

$scrollbar-size: 0.6em;

$bar-size: 4.2rem;
$title-height: 6rem;

$post-size: 22vh;
$post-margin: 1em;