@import '../../app.variables';

.track {
   position: relative;
   width: 100%;
   height: $profile-height;
   box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
   overflow: hidden;

  .background-overlay {
      position: absolute;
      top: -5rem;
      bottom: -5rem;
      left: -5rem;
      right: -5rem;
      background-size: 95% auto;
      background-position: center center;
      background-repeat: no-repeat;
      filter: blur(2rem);
   }

  .content {
      display: grid;
      grid-template-columns: 24vh auto;
      position: absolute;
      height: 20vh;
      width: 100%;
      top: 50%;
      margin-top: -10vh;
      padding-left: 3%;
      padding-right: 3%;

      .cover, .infos {
         display: inline-block;
         vertical-align: top;
      }

      .cover {
         position: relative;
         height: 20vh;
         width: 20vh;
         overflow: hidden;
         text-align: center;
         border-radius: 2px;
         background-color: rgba(0, 0, 0, 0.2);
         background-image: url('../../../assets/img/disc.svg');
         background-repeat: no-repeat;
         background-size: 80% 80%;
         background-position: center center;
         box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);

         img {
            height: 100%;
            width: auto;
         }

         &:hover {
           .overlay {
             opacity: 1;
           }
         }

         .overlay {
           z-index: 0;
           position: absolute;
           height: 100%;
           width: 100%;
           background-color: rgba(0, 0, 0, 0.3);
           line-height: 20vh;
           font-size: 7vh;
           color: $secondary-color;
           cursor: pointer;
           transition: all 0.15s ease-in-out;
           opacity: 0;

           &.show {
             opacity: 1;
           }
         }
      }

      .infos {
         position: relative;
         font-family: 'Montserrat-Bold';
         font-size: 2.2vh;
         color: white;
         text-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
         overflow: hidden;

         .title {
            font-family: 'Montserrat-ExtraBold';
            font-size: 5vh;
            white-space: nowrap;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;

            .name, .username {
               transition: opacity 0.1s ease-in-out;
            }

            .username {
               display: none;
               cursor: pointer;
            }

            &:hover {
               .name {
                  display: none;
               }

               .username {
                  display: block;
               }
            }
         }

         .author {
            cursor: pointer;
         }

         .tag {
            margin-top: 0.5rem;
         }
      }

      .counts {
         position: absolute;
         right: 0;
         bottom: 0;

         div {
            display: inline-block;
            vertical-align: top;
            margin-left: 1rem;
         }
      }
   }
}

.scroll-list {
   height: calc(100% - #{$profile-height});
   padding-top: 2.5vw;

   .description {
      overflow-x: hidden;
      font-family: 'Montserrat-Regular';
   }
}